@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --Primary-Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Neutral-Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* XLarge */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  padding-top: 80px;
  min-height: 100vh;
  background-image: url(../Imgs/bg-pattern-top-desktop.svg),
    url(../Imgs/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
@media (max-width: 991px) {
  body {
    padding: 50px 0;
    background-image: url(../Imgs/bg-pattern-top-mobile.svg),
      url(../Imgs/bg-pattern-bottom-mobile.svg);
    background-position: top center, bottom center;
    background-size: 375px, cover 375px;
  }
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  font-size: 2.5rem;
  color: var(--Primary-Very-Dark-Magenta);
  line-height: 1;
  max-width: 330px;
}
.top .container {
  display: flex;
  flex-direction: row;
}
.top .container .left {
  flex-basis: 50%;
}
.top .container .left p {
  color: var(--Neutral-Dark-Grayish-Magenta);
  margin-top: 15px;
  max-width: 400px;
  line-height: 1.6;
}
.top .container .right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
.top .container .right > div {
  background-color: var(--Light-Grayish-Magenta);
  padding: 20px 27px;
  border-radius: 7px;
  margin-bottom: 20px;
  width: fit-content;
  min-width: 450px;
  display: flex;
  align-items: center;
}
.top .container .right img {
  margin-right: 5px;
}
.top .container .right > div span {
  margin-left: 20px;
  color: var(--Neutral-Dark-Grayish-Magenta);
  font-weight: 700;
}
.top .container .right > div:nth-child(2) {
  align-self: center;
}
.top .container .right > div:nth-child(3) {
  align-self: flex-end;
}
@media (max-width: 991px) {
  .top .container {
    flex-direction: column;
    text-align: center;
  }
  h2 {
    font-size: 2rem;
  }
  .top .container .left p,
  h2 {
    max-width: none;
  }
  .top .container .right {
    margin-top: 15px;
  }
  .top .container .right > div {
    width: 100%;
    min-width: unset;
    padding: 14px 27px;
    display: flex;
    flex-direction: column;
  }
  .top .container .right > div span {
    display: block;
    margin-top: 6px;
    margin-left: 0;
  }
  .top .container .right > div:nth-child(2),
  .top .container .right > div:nth-child(3) {
    align-self: unset;
  }
}
.down {
  margin-top: 55px;
}
.down .container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}
.down .container .box {
  position: relative;
}
.down .container > div {
  background-color: var(--Primary-Very-Dark-Magenta);
  border-radius: 8px;
  overflow: hidden;
  padding: 40px 32px 32px;
  color: var(--Light-Grayish-Magenta);
  position: absolute;
}
.down .container > div:nth-child(2) {
  top: 15px;
}
.down .container > div:nth-child(3) {
  top: 30px;
}
@media (max-width: 991px) {
  .down {
    margin-top: 30px;
  }
  .down .container {
    gap: 16px;
  }
  .down .container > div:nth-child(2),
  .down .container > div:nth-child(3) {
    top: 0;
  }
}
.down .container header {
  position: relative;
}
.down .container header img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 55px;
  height: 55px;
  display: inline-block;
  margin-right: 20px;
}
.down .container header .info {
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 6px;
}
.down .container header .info .name {
  font-weight: 500;
  margin-bottom: 5px;
}
.down .container header .info span {
  font-weight: 400;
  color: var(--Soft-Pink);
}
.down .container .txt {
  line-height: 1.6;
  margin-top: 30px;
  font-size: 14px;
}
.attribution {
  margin-top: 55px;
  padding: 0 20px;
  font-size: 14px;
  text-align: center;
  color: #333;
}
.attribution a {
  color: var(--Soft-Pink);
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  transition: 0.15s;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
}
.attribution a:hover {
  color: var(--Primary-Very-Dark-Magenta);
  text-decoration: underline;
}
